body{
  background: rgb(247, 89, 116);
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
}
img{
  width: 100px;
}
button{
  background: #0c7dc9;
  color:#fff;
  font-size: 2rem;
  padding: 1.5rem;
  border: none;
}